.content-header{
  padding-left: auto;
}
button.navbar-toggler{
  border-color: transparent !important;
}
.jumbotron{
  background-position: center;
  min-height: 30vw;
  background-image: url("./shared/images/ipl.jpg");
}
.jumbo{
  padding:auto;
  height: 100%;
  width: 100%;
 
}
div.jumbo-head {
  text-align: center;
  height: 100%;
  vertical-align: middle;
  color: aliceblue;
  
}
div.key ,div.value,h1.team-header{
 vertical-align: middle;
  padding: 0px;
}
.value{
  font-size: 1.3em;
  color: rgba(4, 82, 39, 0.863)
}
.App{
  background-color: rgba(0,0,0,0.1);
}
.container.page{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 30px;
}
div.page{
  background-color: aliceblue;
}
.content-header{
  color: #000022;
}
h1.team-header{
  height: 100%;
  font-size: 1.5em;
}
div.key{
  font-weight: 500;
}
h1.page-header{
  padding: 10px;
  font-size: 3em;
  font-weight:200;
}


div.team{
  margin-top: 50px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 1px;
  border-color:rgba(0,0,0,0.8) ;
  padding:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1.page-header{
  padding-top:30px;
}
.graph{
  padding-bottom: 25px;
}

.header-container{
  position: relative;
  height: 100%;
  width: 100%;
}
.team-header,span.circular{
  vertical-align: middle !important;
  padding-left: 10px;
  color: #030346d5;
}
.footer{
  margin-top: 50px;
}
.foot-note{
  text-align:center;
}


